@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary500: #a649ff;
  --primary600: #9524ff;
  --seed: #6750a4;
  --primary800: #5c00b3;
  --baseWhite: #fdf7ff;
  --primary: #8300ff;
  --secondary: #75687e;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.active {
  color: var(--primary);
}
/* @layer utilities {
  .hero-vector {
    @apply absolute right-0 top-0 h-screen w-screen bg-hero bg-cover bg-center md:-right-28 xl:-top-60;
  }
} */


