@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #8300ff;
  --primary400: #b86dff;
  --primary500: #a649ff;
  --primary600: #9524ff;
  --primary800: #5c00b3;
  --primary1000: #340066;

  --seed: #6750a4;

  --baseWhite: #fdf7ff;
  --baseBlack: #0a0a0b;

  --secondary: #75687e;
  --secondary100: #ebe9ed;
  --secondary500: #9c92a4;
  --secondary700: #75687e;
  --secondary900: #363c41;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.active {
  color: var(--primary);
}

.font-cursive {
  font-family: "Courier New", Courier, monospace;
}
/* @layer utilities {
  .hero-vector {
    @apply absolute right-0 top-0 h-screen w-screen bg-hero bg-cover bg-center md:-right-28 xl:-top-60;
  }
} */

@layer utilities {
  .btn-purple-outline {
    @apply hover:bg-primary-500 hover:text-base-White bg-transparent px-6 py-3 border-primary-500 rounded-full text-primary-500 ;
  }
  .btn-purple {
    @apply bg-primary-500 text-base-White hover:bg-transparent px-6 py-3 border-primary-500 rounded-full hover:text-primary-500 ;
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideOutUp {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}

@layer utilities {
  .animate-slide-up {
    animation: slideUp 1s forwards, slideOutUp 0.5s 1s forwards;
  }
}
